footer{
    height: 140px;
    background-color: #fee685;
    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-contacts{
            list-style: none;
            margin-bottom: 0;
            i{
                font-size: 22px;
                margin-right: 12px;
                
            }
            .fa-map-marked-alt{
                width: 22px;
            }
        }
    }
    
}