footer{
    height: 140px;
    background-color: #fee685;
    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-contacts div a{
            color: black;
        }
    }
    
}