section.chi-sono{
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: calc(100vh - 220px);
    @media (max-width: 767.98px) {
        padding: 40px 0 40px 0;
    } 
    .img-chi-sono{
        width: 25%;
        @media (max-width: 575.98px) {
            width: 33.333%;
        }   
        img{
            width: 100%;
            object-fit: cover;  
        }
    }
    .title-chi-sono{
        border-bottom: 2px solid orange;
        margin-top: 10px;
    }
    .chi-sono-body{
        line-height: 26px;
        text-align: justify;
    }
    .bkg-img{
        img{
            width: 100%;
            object-fit: contain;
        }
    }
}
section.chi-sono::after {
    content: "";
    background: url('../../../public/img/tree.png');
    opacity: .2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}