section.chi-sono{
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: calc(100vh - 220px);
    position: relative;
    @media (max-width: 767.98px) {
        padding: 40px 0 40px 0;
    } 
    .img-chi-sono{
        width: 100%;  
        img{
            width: 33.333%;
            object-fit: cover; 
            @media (max-width: 767.98px) {
                width: 40%;
            } 
        }
    }
    .title-chi-sono{
        border-bottom: 2px solid orange;
        margin-top: 10px;
        font-size: 28px;       
    }
    .chi-sono-body{
        line-height: 26px;
        text-align: justify;
    }
}

section.chi-sono::after {
    content: "";
    background: url('../../../public/img/tree.png');
    background-size: cover;
    background-position: right;
    opacity: .2;
    top: -80px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}