section.contatti{
    margin-top: 80px;
    padding-top: 80px;
    @media (max-width: 767.98px) {
        padding: 40px 0 0 0;
    } 
    .all-contacts{
        @media (min-width: 575.98px) and (max-width: 767.98px){
            padding-left: 0px;
        }
       .all-contacts-info{
           list-style: none;
           line-height: 30px;
       } 
    }
    .map{
        @media (min-width: 575.98px) and (max-width: 767.98px){
            padding-left: 0px;
        }
        .map-middle{
            display: flex;
            justify-content: flex-end;
            @media (max-width: 575.98px) {
                display: none;
            } 
        }
        .map-small{
            display: none;
            @media (max-width: 575.98px) {
                display: block;
            } 
        }
    }
}