
.container-home{
    .slider-wrapper {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100vh;    
        .images {
            width: 100%;
            height: 100%;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: none;
                
            }
            img.active {
                display: inline-block;
            }
        }
        .main-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            .cite-text{
                font-size: 30px;
                font-style: italic;
            }
            cite{
                font-size: 16px;
            }
        }   
    }
    section.about-me{
        padding: 2.5rem 0;
    }
    section.posts{
        background-color: #d4d9df;
        padding: 2.5rem 0;
        .card-group{
            .card{
                width: calc((100% - 1.25rem) / 2);
                -webkit-box-shadow: 0px 9px 71px 8px #565656;
                -moz-box-shadow: 0px 9px 71px 8px #565656;
                -o-box-shadow: 0px 9px 71px 8px #565656;
                box-shadow: 0px 9px 71px 8px #565656;
               .card-img-top{
                   padding: 1.25rem;
               } 
            }
            .card:nth-child(2) {
                margin-left: 1.25rem;;
              }
        }
    }
}
