.container-home{
    .slider-wrapper {
        position: relative;
        width: 100%;
        height: 100vh;  
            .container{
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
            }
            .images {
                width: 100%;
                height: 100%;
                text-align: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: none;
                }
                img.active {
                    display: inline-block;
                }           
            }           
            .main-text{
                position: absolute;
                min-width: 700px;
                @media (max-width: 767.98px) {
                    min-width: 0px;              
                }
                position: absolute;
                top: 50%;
                left: 32px;
                transform: translateY(-50%);    
                .cite-text{
                    font-size: 30px;
                    font-weight: bold;
                    font-style: italic;
                    @media (max-width: 991.98px) {
                        font-size: 26px;
                    } 
                    @media (max-width: 575.98px) {
                        font-size: 14px;
                    }              
                    i.fa-quote-left{
                        font-size: 12px;
                        position:absolute;
                        top: 6px;
                        left: -18px;
                        @media (max-width: 575.98px) {
                            font-size: 9px;
                            top: 0;
                            left: -12px;
                        }   
                    }
                    i.fa-quote-right{
                        font-size: 12px;
                        position: relative;
                        top: -10px;
                        @media (max-width: 575.98px) {
                            font-size: 9px;
                            top: -8px;
                        }  
                    }
                }
                cite{
                    font-size: 16px;
                    @media (max-width: 575.98px) {
                        font-size: 12px;
                    } 
                }           
        }    
    }
    section.about-me{
        padding: 40px 0;
        @media (max-width: 767.98px) {
            padding-top: 20px;
        } 
        .container{
            @media (min-width: 576px) and (max-width: 767.98px){
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .about-me-p{
                line-height: 26px;
            }            
        }
    }
    section.posts{
        background-color: #d4d9df;
        padding: 2.5rem 0;
        .container{  
            @media (min-width: 576px) and (max-width: 767.98px){
                padding-left: 0 !important;
                padding-right: 0 !important;
            }      
            .card-group{
                @media (max-width: 991.98px) {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                .card{
                    flex-basis: calc((100% - 1.25rem) / 2);
                    @media (max-width: 991.98px) {
                        flex-basis: 100%;
                        margin-left: 0 !important;
                    }    
                    @media (max-width: 575.98px) {
                        padding: 0 !important;
                    } 
                   .card-img-top{
                        padding: 1.25rem 1.25rem 0 1.25rem;
                        height: 350px;
                        object-fit: cover;
                        @media (max-width: 991.98px) {
                            height: auto;
                        }
                   }
                }
                .card:nth-child(2) {
                    margin-left: 1.25rem;;
                  }
            }
        }
    }
}
