.container.articoli{
    margin-top: 80px;
    padding-top: 80px;
    .card-group{
        flex-wrap: wrap;
        .card{
            flex-basis: calc((100% - 3.75rem) / 4)  ;
            flex-grow: 0;
            margin-bottom: 1.25rem;
            .card-img-top{
                padding: 1.25rem 1.25rem 0 1.25rem;
            }           
            .created_at{
                font-size: 12px;
            }  
        }
        .card:not(:nth-child(4n)) {
            margin-right: 1.25rem;;
          }
    }
}