.container.articoli{
    margin-top: 80px;
    padding-top: 80px;
    .card-group{
        flex-wrap: wrap;
        @include media-breakpoint-down(md){
            justify-content: center;
        }
        .card{
            @include media-breakpoint-down(md) {
                flex-basis: 100%;   
                margin-right: 0 !important;           
            }
            flex-basis: calc((100% - 3.75rem) / 4)  ;
            flex-grow: 0;
            margin-bottom: 1.25rem;
            .card-img-top{
                object-fit: contain;
            }
            .card-body{
                padding: 1.25rem 0;
            }  
        }
        .card:not(:nth-child(4n)) {
            margin-right: 1.25rem;
          }
    }
}