.container.show{
    margin-top: 80px;
    padding-top: 40px;
    .card{
        .card-img-top-box{
            height: calc(100vh - 120px);
            img.card-img-top{
                height: 100%;
                object-fit: cover;
                padding: 1.25rem 1.25rem 0 1.25rem;
            }
        }
        
    }
}